<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="le_nlog"/>
  </extensions>
  <targets>
    <target name="logentries" type="Logentries" key="USER-KEY-HERE" location="LOG-LOCATION-HERE"
            debug="true" layout="${date:format=ddd MMM dd HH\:mm\:ss zzz yyyy} ${logger} : ${level:uppercase=true}, ${message}"/>
  </targets>
  <rules>
    <logger name="*" minLevel="Info" appendTo="logentries"/>
  </rules>
</nlog>
